<span>Player name: {{model.player.name}}</span>
<span>GameWeek: {{model.gameWeekNo}}</span>
<span>Total: {{model.totalPoints}}</span>
<loading></loading>
<div class="list-group">
	<div ng-repeat-start="row in model.rows"></div>
	<a href="#/fixture/{{row.fixture.fxId}}" class="list-group-item">
		<span class="badge">{{row.points}}</span>
		<div>
			<span>{{row.fixture.home}}</span> v <span>{{row.fixture.away}}</span>
		</div>
		<div class="small">
			Result <span>{{row.result.home}}</span> v <span>{{row.result.away}}</span>
		</div>
		<div class="small">
			Prediction <span>{{row.prediction.home}}</span> v <span>{{row.prediction.away}}</span>
		</div>
	</a>
	<div ng-repeat-end></div>
</div>